extends common

block extraheads
	link(rel='stylesheet', href='/stylesheets/accompaniment.css')

block content
	.container
		.row
			.col-md-12 Vocalet 
		.row
			.col-md-6 
				pre !{body}
			.col-md-6
				.row
					pre #{JSON.stringify(notes)}
				.row
					.col-md-10 Don't stop Believing... playing
					.col-md-1 Add
					.col-md-1 Sub
				.row
					.col-md-12
				.row
					- each chord in chords
						button.chord= chord
				.row
					.col-md-12
				.row
					.col-md-4 Record
					.col-md-4 Stop
					.col-md-4 Upload

block extrascripts
	script(src='/javascripts/audiosynth.js')
	script.
		window.notes =!{JSON.stringify(notes)}; 
	script(src='/javascripts/ivocalet.js')
	script(src='/javascripts/orchestra.js')
	script(src='/javascripts/main.js')